{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoradiaEstudantil - Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="Menu">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
</div>
    



    <div class="container">
        
        <div class="left">

            <div class="logo">
                <span class="gray">Moradia</span><span class="green">Estudantil</span>
            </div>
            
            <h1>Bem vindo de volta!</h1>
            <p>Insira seus dados e acesse a plataforma.</p>
        </div>
        <div class="right">
            <h2>Área de Login</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="options">
                   
                    <a href="#">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn">Entrar</button>
            </form>
            <div class="footer">
                <p>Novo por aqui? <a href="#">Criar uma conta agora!</a></p>
            </div>
        </div>
    </div>





    

    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
