{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sistema.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MoradiaEstudantil - Sistema</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    
    

    <div class="sidebutton">
        <button  id="toggle-sidebar" class="toggle-sidebar-btn"><i class="fa-solid fa-caret-down"></i></button>
        <a style="text-decoration: none;" href="{% url 'sistema' %}">
            <div class="titulosidebutton"><span class="moradia">Moradia</span><span class="estudantil">Estudantil</span></div>
        </a>
    </div>


    <div class="sidebar" id="sidebar">
        <div class="title">
           
            <span class="gray">Moradia</span><span class="green">Estudantil</span>
        </div>
        
        <div class="user-info">
            <a href="{% url 'conta' %}"><img src="{{ usuario.foto.url }}" alt="Foto do usuário" class="user-photo"></a>
            <span class="user-name">{{ usuario.first_name }}</span>
        </div>


        <ul>
            <li><a href="{% url 'sistema' %}"><i class="fa-solid fa-house"></i><span class="menu-text">Início</span></a></li>
            <li><a href="{% url 'eventos' %}"><i class="fa-solid fa-comments"></i><span class="menu-text">Eventos</span></a></li>
            <li><a href="{% url 'avisos' %}"><i class="fa-solid fa-bell"></i><span class="menu-text">Avisos</span></a></li>
            <li><a href="{% url 'enquetes' %}"><i class="fa-solid fa-square-poll-vertical"></i><span class="menu-text">Enquetes</span></a></li>

            {% if user.tipo == 'COORDENADOR' %}
            <li><a href="{% url 'painel-controle' %}"><i class="fa-solid fa-desktop"></i><span class="menu-text">Painel de Controle</span></a></li>
            {% endif %}



     
        <div class="options">
            <li><a href="{% url 'suporte' %}"><i class="fa-brands fa-rocketchat"></i><span class="menu-text">Suporte</span></a></li>
            <li><a href="{% url 'conta' %}"><i class="fa-solid fa-user"></i><span class="menu-text">Conta</span></a></li>
            <li>
                <a class="btn-sair" href="#" onclick="document.getElementById('logout-form').submit();"><i class="fa-solid fa-arrow-left"></i><span class="menu-text">Sair</span></a>
    
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
            </li>
           </div>
        </ul>
    </div>

    
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
        

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.alerta-area').fadeOut('slow');
            }, 1500); // 3000 milissegundos = 3 segundos
        });
    </script>


<script>
    // DEIXAr a função abrirModal FORA do DOMContentLoaded
    function abrirModal(event, cardElement) {
        var modal = document.getElementById("modal");
        var loadingSpinner = document.getElementById("loading-spinner");

        if (!modal || !loadingSpinner) return;

        // Mostrar o spinner de carregamento
        loadingSpinner.style.display = "block";

        setTimeout(function() {
            var titulo = cardElement.getAttribute("data-titulo");
            var descricao = cardElement.getAttribute("data-descricao");
            var data = cardElement.getAttribute("data-data");
            var criadoPor = cardElement.getAttribute("data-criado-por");
            
            console.log('Título:', titulo);
            console.log('Descrição:', descricao);
            console.log('Data:', data);
            console.log('Criado por:', criadoPor);

            document.getElementById("modal-title").innerText = titulo;
            document.getElementById("modal-description").innerText = "Descrição: " + descricao;
            document.getElementById("modal-date").innerText = "Data: " + data;
            document.getElementById("modal-created-by").innerText = "Criado por: " + criadoPor;

            loadingSpinner.style.display = "none";
            modal.style.display = "block";
        }, 500); // 500ms para simular carregamento
    }

    function abrirModalAviso(event, cardElement) {
    var modal = document.getElementById("modal-aviso");
    var loadingSpinner = document.getElementById("loading-spinner");

    if (!modal || !loadingSpinner) return;

    loadingSpinner.style.display = "block";

    setTimeout(function() {
        var titulo = cardElement.getAttribute("data-titulo");
        var descricao = cardElement.getAttribute("data-descricao");
        var dataCriacao = cardElement.getAttribute("data-data-criacao");
        var criadoPor = cardElement.getAttribute("data-criado-por");

        document.getElementById("modal-aviso-title").innerText = titulo;
        document.getElementById("modal-aviso-description").innerText = "Descrição: " + descricao;
        document.getElementById("data-criacao").innerText = "Publicado em: " + dataCriacao;
        document.getElementById("modal-aviso-created-by").innerText = "Criado por: " + criadoPor;

        loadingSpinner.style.display = "none";
        modal.style.display = "block";
    }, 500);
}

function abrirModalDetalhes(event, buttonElement) {
    var modal = document.getElementById("modal-detalhes");
    var loadingSpinner = document.getElementById("loading-spinner");

    if (!modal || !loadingSpinner) return;

    loadingSpinner.style.display = "block";

    const enqueteId = buttonElement.getAttribute("data-id");
    console.log('ID da Enquete:', enqueteId);

    fetch(`/detalhes-enquete/${enqueteId}/`)
        .then(response => response.json())
        .then(data => {
            const nomesSim = data.sim.length ? data.sim.join("<br>") : "Nenhum voto.";
            const nomesNao = data.nao.length ? data.nao.join("<br>") : "Nenhum voto.";

            document.getElementById("modal-detalhes-sim").innerHTML = nomesSim;
            document.getElementById("modal-detalhes-nao").innerHTML = nomesNao;

            loadingSpinner.style.display = "none";
            modal.style.display = "block";
        })
        .catch(error => {
            console.error("Erro ao buscar detalhes da enquete:", error);
            loadingSpinner.style.display = "none";
        });

        window.onclick = function(event) {
        var modalDetalhes = document.getElementById("modal-detalhes");
            if (event.target == modalDetalhes) {
                modal.style.display = "none";
            }
        }

}

    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("modal");
        var modalAviso = document.getElementById("modal-aviso");
        
        var span = document.getElementsByClassName("close")[0];
        var span2 = document.getElementsByClassName("close2")[0];

        if (!modal || !modalAviso || !span) return;

        span.onclick = function() {
            modal.style.display = "none";
        }

        span2.onclick = function() {
            modalAviso.style.display = "none";
        }


        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";  
                
            }

            if (event.target == modalAviso) {
                modalAviso.style.display = "none";  
            }
        }


    
 
    });

    document.addEventListener("DOMContentLoaded", function () {
    const toggleBtn = document.getElementById("toggle-sidebar");
    const sidebar = document.getElementById("sidebar");
    const icon = toggleBtn.querySelector("i");
    // Alternar visibilidade da sidebar
    toggleBtn.addEventListener("click", (e) => {
        e.stopPropagation(); // Evita que o clique propague para o document
        sidebar.classList.toggle("open");
        // Alterna o ícone
        if (icon) {
            if (sidebar.classList.contains("open")) {
                icon.classList.remove("fa-caret-down");
                icon.classList.add("fa-caret-up");
            } else {
                icon.classList.remove("fa-caret-up");
                icon.classList.add("fa-caret-down");
            }
        }
    });

     // Impede que cliques dentro da sidebar fechem ela
     sidebar.addEventListener("click", (e) => {
        e.stopPropagation();
    });

    // Clicar fora da sidebar fecha ela
    document.addEventListener("click", () => {
        if (sidebar.classList.contains("open")) {
            sidebar.classList.remove("open");
            if (icon) {
                icon.classList.remove("fa-caret-up");
                icon.classList.add("fa-caret-down");
            }
        }
    });
    
});
    

    
</script>


</body>
</html>