* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* evita rolagem lateral */
}

body {
    background: #f6f5f7;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



.gray {
    user-select: none;
    font-weight: bold;
    color: #1d1d1d;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.green {
    user-select: none;
    font-weight: bold;
    color: #29a548;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}



/* CSS PARA SIDEBAR*/

  .sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.options {
    border-top: 1px solid #ccc;
}

.btn-sair{
    color: black;
    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    
    color: black;
}

.sidebar ul li {
    margin: 5px 0;
    cursor: pointer;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;    
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
    color: black;
}

.sidebar ul li a i {
    font-size: 20px; 
    color: #29a548; 
    width: 20px; 
    height: 20px;
    margin-right: 5px;
}

.sidebar ul li a .menu-text {
    margin-left: 10px; 
    border-left: 2px solid #ccc;
    padding-left: 10px; 
    padding-top: 2px; 
}


.sidebar ul li a:hover {
    background-color: #ccc;
}


.user-info {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin-top: 10px;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #29a548; /* borda verde bonita */
}

.user-name {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 20px;
}






.main-content {
    margin-left: 280px;
    padding: 20px; 
    min-height: 100vh;
    background: #f6f5f7;
}



/* CSS PARA ABA INÍCIO*/
.dashboard {
    margin-top: 70px;
}







.dashboard-title {
    user-select: none;
    font-size: 28px;
    color: #333;
    font-weight: 600;
    
    text-align: left;
}

.cards-container {
    user-select: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.foguinho {
    position: absolute;
    top: 0;
    right: 10px; /* Ajuste para o canto superior direito */
    transform: scale(1.3);
    z-index: 1; /* Garante que o foguinho fique por cima de outros elementos */
}

.card {
    position: relative;
    min-width: 300px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card span {
    font-size: 12px;
}

.card-icon {
    font-size: 30px;
    color: #29a548;
    
}



.card-content h3 {
    
    font-size: 18px;
    margin: 0;
    color: #222;
}

.card-content p {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
    
}

.sidebutton {
    display: none;
}



.moradia {
    user-select: none;
    font-weight: bold;
    color: #1d1d1d;
    text-align: center;
    font-size: 24px;
}

.estudantil {
    user-select: none;
    font-weight: bold;
    color: #29a548;
    text-align: center;
    font-size: 24px;
}

.titulosidebutton {
    margin-left: 80px;
}




/* Responsividade */

@media (max-width: 768px) {
    
    html, body {
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow-x: hidden;
      }

    #toggle-sidebar {
        border: none;
        background-color: white;
        font-size: 30px;
        cursor: pointer;
        color: #29a548;
        position: absolute;
        z-index: 1100;
    }

    .sidebutton {
        display: flex;
        align-items: center;    
        background-color: white;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        z-index: 10000;
        
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #fff;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        z-index: 9998;
    }

    .sidebar.open {
        transform: translateY(4%);
    }

    .gray,.green {
        display: none;
    }

   
    .info-card {
        max-width: 340px;
        padding: 20px;
    }

   .profile {
    
    max-height: 640px;
   }

   .container-pai {
    padding-top: 20px;
}


    .info-card h2 {
        font-size: 20px;
    }

    .info-card img {
        width: 90px;
        height: 90px;
    }

    
    .btn-salvar span, .btn-delete span {
        display: none;  /* Esconde o texto */
    }
    
    .btn-salvar, .btn-delete {
        display: inline-flex;
        justify-content: center;
    }
    

    

    
    
}

/* Responsividade */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%; /* Ou 100% se preferir ocupar tudo */
    }

    .dashboard-title {
        font-size: 1.5rem;
        text-align: center;
    }
    .main-content {
        margin: 0;
    }
    .div-options {
        display: flex; 
        flex-direction: column;
    }
    
    .titulo-evento {
        width: 50%;
    }

    
}

.div-options {
    display: flex; 
    gap: 20px;
}


/* CSS PARA ABA CONTA*/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
}


.titleProfile {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}


.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.imgPerfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #29a548;
    margin-bottom: 15px;
}


.info {
    font-size: 15px;
    color: #555;
    
}

.info-card {
    width: 700px;
    margin-top: 10px; 
    border-top: 1px solid #eee;
}


.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
    
}

.info-item:last-child {
    border-bottom: none;
}

.info-item strong {
    font-weight: 600;
    color: #555;
}

.info-item span {
    color: #777;
    max-width: 300px;
}


.alterarfoto {
    margin-top: 15px;
    text-align: center;
}

.inputIdFoto {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 15px;
    color: #555;
}



.btnAtt {
    background-color: #29a548;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnAtt:hover {
    background-color: #218c3c;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    .profile {
        width: 90%;
    }

    .imgPerfil {
        width: 100px;
        height: 100px;
    }

    .inputIdFoto {
        width: 160px;
    }

    .btnAtt {
        padding: 10px 20px;
        font-size: 14px;
    }

    .btn-sair {
        padding: 10px 18px;
    }
}


/* Estilo para as mensagens de erro */
.alerta-area {
    position: fixed;
    top: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    z-index: 1000;
    user-select: none;
}

.alerta-custom {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

/* Cores para os tipos de mensagem */
.alerta-custom.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alerta-custom.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alerta-custom.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}




/* CSS do Painel de Controle */
.table-users {
    width: 100%;
    border-collapse: collapse;
}

.table-users th, .table-users td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 200px;
    
}



.table-users th {
    text-align: center;
    background-color: #f3f3f3;
    
}

.btn-delete {
    width: 50%;
    padding: 10px 12px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #b93c2e;
}

.btn-salvar {
    width: 50%;
    padding: 10px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-salvar:hover {
    background-color: #207925;
}

td button {
    margin-bottom: 5px;
}


thead th {
    text-align: center; 
    vertical-align: middle; 
    padding: 12px 16px;
    background-color: #f8f8f8; 
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid #ddd; 
}

.form-update-tipo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-tipo {
    width: 70%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.input-usuario {
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


/* CSS para ABA EVENTOS */
.eventos-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.titulo-eventos {
    text-align: center;
    margin-bottom: 20px;
}

.form-adicionar-evento {
    margin-bottom: 30px;
    text-align: center;
}

.input-evento, .textarea-evento {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.btn-adicionar {
    padding: 10px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-adicionar:hover {
    background-color: #207925;
}

.lista-eventos {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-evento {
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-evento:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.evento-passado {
    opacity: 0.5;
    margin: 0;
}

.titulo-evento {
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.info-evento p {
    margin: 8px 0;
    font-size: 16px;
}


.autor-evento {
    color: #888;
    font-size: 14px;
}

.form-event {
    align-items: end;
}

.header-evento {
    display: flex;
    justify-content: space-between;
}

.clique-saiba-mais {
    position: absolute; 
}



/* CSS para o MODAL */
.modal {
    display: none; /* Inicialmente invisível */
    position: fixed;
    z-index: 999999999; /* Fica acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Garante que o conteúdo seja rolável se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semitransparente */
}

/* Conteúdo do Modal */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajuste conforme necessário */
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do botão de fechar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Carregando... */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #333;
    z-index: 9999;
}


/* CSS SUPORTE */
.lista-usuarios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card-usuario {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.whatsapp-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #25D366;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.whatsapp-btn:hover{
    background-color: #1da54f;;
}





/* CSS Enquete */


.btn-voto {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-sim {
    background-color: #d4edda;
    color: #155724;
}

.btn-sim:hover {
    background-color: #c3e6cb;
}

.btn-nao {
    background-color: #f8d7da;
    color: #721c24;
}

.btn-nao:hover {
    background-color: #f5c6cb;
}

.votacao {
    display: flex;
    margin: 10px;
}


.btn-deleteEnq, .btn-encerrar, .btn-detalhes {
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}



.btn-encerrar {
    color: white;
    background-color: #4CAF50;
}

.btn-encerrar:hover {
    background-color: #207925;
}

.btn-detalhes {
color: white;
background-color: #575656;
}

.btn-detalhes:hover {
    background-color: #303030;
}

.btn-deleteEnq {
    background-color: #e74c3c;
    color: white;
}

.btn-deleteEnq:hover {
    background-color: #b93c2e;
}

